[Desktop Entry]
Name=Border Only
Type=Application
X-KDE-PluginInfo-Name=BorderOnly
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Author=May
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
